.DS_Store
/dist
/coverage
/.env
/node_modules
newrelic_agent.log
/data/failed-jobs/*.json
yarn-error.log
google-cloud-key.json
/data/latest-inserted-orders.json
/data/latest-inserted-customized-products.json
/data/latest-inserted-users.json
/data/latest-inserted-base-products.json
/data/db-dump.sql
/data/db-dump.gz
/data/postgres-data/*
/data/postgres-data-test/*
google-cloud-key-bu.json
/docker-bu

# LaTeX related local files:
/docs/**/*.aux
/docs/**/*.bbl
/docs/**/*.bcf
/docs/**/*.blg
/docs/**/*.fdb_latexmk
/docs/**/*.fls
/docs/**/*.gz
/docs/**/*.log
/docs/**/*.out
/docs/**/*.run.xml
/docs/**/*.toc
